body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Roboto Regular';
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
/* scroll Down */
.scrolldown-anim {
position: absolute;
width: 24px;
height: 24px;
z-index: 999;
left: 50%;
bottom: 10%;
}
.chevron {
position: absolute;
width: 28px;
height: 8px;
opacity: 0;
transform: scale3d(0.5, 0.5, 0.5);
animation: move 3s ease-out infinite;
}
.chevron:first-child {
animation: move 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
animation: move 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
content: ' ';
position: absolute;
top: 0;
height: 100%;
width: 51%;
background: #000;
}
.chevron:before {
left: 0;
transform: skew(0deg, 30deg);
}
.chevron:after {
right: 0;
width: 50%;
transform: skew(0deg, -30deg);
}
@keyframes move {
25% {
  opacity: 1;
}
33% {
  opacity: 1;
  transform: translateY(30px);
}
67% {
  opacity: 1;
  transform: translateY(40px);
}
100% {
  opacity: 0;
  transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
}
}
.text {
display: block;
margin-top: 75px;
margin-left: -30px;
font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
font-size: 12px;
color: #000;
text-transform: uppercase;
white-space: nowrap;
opacity: .25;
animation: pulse 2s linear alternate infinite;
}
@keyframes pulse {
to {
  opacity: 1;
}
}
/* End scroll down */
/* ============================= progress Bar - Back to TOP ==========================*/
a#return-to-top svg.svg-inline--fa.fa-arrow-circle-down.fa-w-16 {
color: #c1204c;
animation: bounce 2s infinite;
-webkit-animation: bounce 2s infinite;
-moz-animation: bounce 2s infinite;
-o-animation: bounce 2s infinite;
}
a#return-to-top {
position: fixed;
z-index: 999999;
bottom: 25px;
right: 22px;
font-size: 38px;
transform: rotate(180deg);
transition: background-color .3s, 
opacity .5s, visibility .5s;
opacity: 0;
visibility: hidden;
}
#return-to-top.show {
opacity: 1;
visibility: visible;
}
/* ============================= Finish Back to Top =================================*/
.home-banner{
display: none;
}
/* full Webpage ScrollBar */
/* width */
::-webkit-scrollbar {
width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #d71920; 
border-radius: 0px;
transition: .3s all;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #e9292f; 
}
.header-section.sticky {
/* background: rgb(255 255 255 / 44%); */
background: linear-gradient(45deg, #ADA996, #F2F2F2,#DBDBDB,#EAEAEA);
position: fixed;
transition: all 0.4s ease;
padding: 10px;
}
.header-section {
/* background: rgba(0,0,0,.2); */
position: absolute;
top: 0px;
z-index: 999;
width: 100%;
padding: 20px;
}
a#navbarDropdown {
color: #000 !important;
font-size: 18px;
font-family: 'Roboto Regular';
}
ul.dropdown-menu li {
display: block;
}
.amenities-list ul {
  list-style: disc !important;
}
img.project-side-img {
  width: 100%;
}
.col-xl-12.col-lg-12.icon-boxes.d-flex.flex-column.justify-content-center.py-5.px-lg-5.aos-init.aos-animate {
  padding: 0px 40px !important;
}
ul.navbar-nav li.nav-item {
margin: 0px 10px;
}
svg.svg-inline--fa.fa-bars.fa-w-14 {
  color: rgba(255, 0, 0, 0.88);
  font-size: 25px;
}
.navbar-dark .navbar-toggler {
  color: rgba(255,255,255,.5);
  border-color: rgba(255, 0, 0, 0.88) !important;
  outline: none;
}
div.collapse.navbar-collapse {
  position: absolute;
  right: 40px;
}
ul.navbar-nav li.nav-item a.nav-link {
color: #000 !important;
font-size: 18px;
font-family: 'Roboto Regular';
}
.dropdown-toggle::after {
  transition: transform 0.15s linear; 
}
.show.dropdown .dropdown-toggle::after {
 transform: translateY(3px);
}
.dropdown-menu {
  margin: 0px;
  padding: 0px;
}
.dropdown-menu a.dropdown-item {
  padding: 10px;
  font-size: 16px;
}
div#collapsibleNavbar ul.navbar-nav li.nav-item {
  margin: 0px 2px;
}
figcaption.flex-center {
    display: flex;
    align-items: center;
}
.icon-box.flex-icon {
  display: flex !important;
  align-items: center !important;
}
section.commercial-noida-slider .intro-container div#introCarousel .carousel-inner .carousel-item {
  height: 88vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.commercial-noida-slider .intro-container div#introCarousel .carousel-inner .carousel-item h2{
  font-size: 50px !important;
  text-transform: uppercase;
  font-weight: 800;
}
section.commercial-noida-slider {
  height: 88vh;
}
div.comm-noida {
  height: 88vh;
}
p.subtitle-comm-invest {
    border-bottom: 0px !important;
    font-size: 20px !important;
    font-weight: 200 !important;
}
/* ? >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Popup CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
img.sidebar-img {
  width: 100%;
}
.amenities-list ul li {
  display: block !important;
}
.modal-header {
  position: relative;
}
.modal-header .close {
  padding: 1rem 1rem;
  margin: 0px !important;
  z-index: 9;
}
button.close {
  outline: none !important;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
}
.modal-dialog.modal-lg.modal-dialog-centered .modal-content .modal-body {
  z-index: 9;
}
img.mapush-popup-logo {
  width: 15%;
}
.popup-logo {
  text-align: center;
  position: relative;
  width: 100%;
}
h1.popup-title {
  text-align: center;
  display: grid;
  font-size: 32px;
  margin: 15px auto;
  font-family: 'Montserrat';
}
button.btn-close.custom-btn svg {
  font-size: 30px;
}
button.btn-close.custom-btn {
  border: 0px;
  background: none;
  right: 15px;
  position: absolute;
  top: 15px;
  z-index: 99;
}
form.query-popup {
  width: 100%;
  padding: 20px;
}
form.query-popup input.querypopup-field, textarea.querypopup-field {
  width: 100%;
  font-size: 20px;
  font-family: 'Montserrat';
  margin-bottom: 10px;
  padding: 5px;
  background: #184d67;
  border: 1px solid #ddd;
  color: #fff;
}
form.query-popup input.querypopup-field::placeholder, textarea.querypopup-field::placeholder{
color: #ddd;
}
.popup-btn input.query-submit-btn {
  font-size: 20px;
  padding: 10px 20px;
  width: 100%;
  border: 0px;
  background: #d72e32;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat';
}
.banner-popup img {
  width: 100%;
  max-height: 359px;
}
.modal-body {
  padding: 0px !important;
}
.modal-body .col-lg-6.col-12 {
  padding: 0px !important;
  background: #184d67;
  align-items: center;
  display: flex;
}
/* ? >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Popup CSS<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* Mobile header */
div#mySidenav ul li {
display: block !important;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  background-color: #cdcbc0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ff0000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
div#mySidenav ul {
  margin: 0px;
  padding: 0px;
}
div#mySidenav ul li a {
  font-size: 17px;
  font-family: 'Roboto Regular';
}
ul.submenu {
  margin-left: 28px !important;
  list-style: none;
}
/* ============ only desktop view ============ */
/* @media all and (min-width: 992px) {
.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
.navbar .nav-item:hover .nav-link{ color: #fff;  }
.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
.navbar .dropdown-menu.fade-up{ top:180%;  }
.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); width: 170px; }
}	
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */
/* |||||||||||||||||||||||||||||Section 2|||||||||||||||||||||||||||||||||| */

@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf");
  font-family: 'Polar';
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  /* overflow: hidden; */
}
/* .slide__bg {
  position: absolute;
  top: 0;
  left: 0px !important;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
} */

svg {
  display: block;
  overflow: visible;
}

.slider-container {
  position: relative;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: all-scroll;
  height: 88vh;
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.18)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.18)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url("../images/3d-slider-1.jpg");
  background-size: cover;
  background-position: center center;
}
.slide:nth-child(1) .slide__overlay-path {
  fill: #e99c7e;
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgba(233, 156, 126, 0.8);
  }
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url(../images/3d-slider-2.jpg);
  background-size: cover;
  background-position: center center;
}
.slide:nth-child(2) .slide__overlay-path {
  fill: #e1ccae;
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    background-color: rgba(225, 204, 174, 0.8);
  }
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: -100%;
  background: url(../images/3d-slider-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide:nth-child(3) .slide__overlay-path {
  fill: #adc5cd;
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    background-color: rgba(173, 197, 205, 0.8);
  }
}
.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url(../images/3d-slider-4.jpg);
  background-position: center;
  background-size: cover;
}
.slide:nth-child(4) .slide__overlay-path {
  fill: #cbc6c3;
}
@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}
.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  -webkit-transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  will-change: transform, opacity;
  -webkit-transform: translate3d(-20%, 0, 0);
          transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}
.slide__overlay path {
  opacity: 0.8;
}
.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%;
  left: 12%;
  color: #000;
  -webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  will-change: transform, opacity;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    padding: 0 1rem;
  }
}
.slide__text-heading {
  /* font-family: "Polar", Helvetica, Arial, sans-serif; */
  font-family: 'Roboto Regular';
  font-size: 4rem;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 20rem;
    font-size: 3.5rem;
  }
}
.slide__text-desc {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
}
.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@media (max-width: 991px) {
  .slide__text-link {
    display: none;
  }
}
.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-85deg);
          transform: rotateX(-85deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
}
.slide__text-link:hover:before {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}


/* About Section CSS */
.about-targets {
  text-align: center;
  width: 100%;
  border: 6px solid #203a43;
  padding: 10px;
  border-radius: 3px;
  min-height: 300px;
  max-height: 320px;
  transition: .3s all;
}
.about-targets:hover {
  border-radius: 70px 1px;
}
.container-about p.about-title {
  text-align: center;
  font-size: 40px;
}
.about-content {
  text-align: center;
  width: 100%;
}
a:not([href]):hover {
  color: #fff;
  text-decoration: none;
}
a.about-four-part-link {
  text-decoration: none;
  color: #203a43;
  cursor: default;
}
.about-content p.description {
  font-size: 18px;
  text-align: justify;
}
.flex-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.images-side {
  width: 50%;
}
.about-content {
  width: 50%;
  padding: 0px 20px;
}
.images-side img {
  width: 100%;
}
.images-side {
  position: relative;
}
p.about-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0px;
  color: #fff;
}
/*||||||||||||||||||||||||||||||||||||||||| project features CSS |||||||||||||||||||||||||||||||||||||*/

.dream-title {
width: 100%;
text-align: center;
margin-top: 50px;
}
.dream-title p.title {
font-size: 35px;
color: red;
font-family: 'Poppins Regular';
font-weight: bold;
display: block;
}
.dream-title p.subtitle {
font-size: 20px;
font-family: 'Poppins Regular';
color: #081c3f;
font-weight: 600;
}
.row.white-space-row {
margin: 30px 0px;
}
a.slide__text-link:hover {
  color: #fff;
  text-decoration: none;
}

a.slide__text-link {
  color: black;
}
/* ///////////////////////Contact Section///////////////////////// */
/* .contact-section {
padding-top: 20px;
} */
.section-title p {
font-size: 20px;
font-family: 'Poppins Regular';
color: #081c3f;
font-weight: 600;
text-align: center;
display: block;
margin-bottom: 20px;
}
.contact-inner-part {
position: relative;
}
iframe.contact-map {
height: 70vh;
width: 100%;
}
iframe.home-map {
height: 40vh;
width: 100%;
}
form.contact-main-form input.contact-input-field {
width: 100%;
margin-bottom: 5px;
padding: 5px 15px;
font-size: 18px;
background: transparent;
border: 1px solid #fff;
color: #fff;
}
textarea.contact-input-field.textarea-input {
width: 100%;
height: 100px;
font-size: 18px;
padding: 5px 15px;
background: transparent;
border: 1px solid #fff;
color: #fff;
}
form.contact-main-form input.contact-input-field::placeholder{
color: #fff;
}
textarea.contact-input-field.textarea-input::placeholder{
color: #fff;
}
.contact-title p {
font-size: 18px;
text-align: center;
color: #fff;
font-family: 'Roboto Regular';
}
.contact-btn {
margin-top: 20px;
text-align: center;
}
input.contact-submit-btn {
font-size: 18px;
text-transform: uppercase;
padding: 5px 28px;
padding-top: 9px;
background: linear-gradient(45deg, #2193b0, #6dd5ed);
border: 2px solid transparent;
color: #fff;
transition: .5s all;
}
input.contact-submit-btn:hover {
border: 2px solid #2d9eba;
background: #fff;
color: #2d9eba;
}
.map-area {
padding: 0px;
margin-bottom: -4px;
}
/* footer section */
.footer-section {
background: linear-gradient(45deg, #ADA996, #F2F2F2,#DBDBDB,#EAEAEA);
color: #000;
padding: 50px 20px 20px;
}
.footer-content {
margin: 10px 0px;
}
p.footer-cont {
font-size: 16px;
color: #203A43;
}
ul.contact-footer-list li a {
display: flex;
font-size: 16px;
align-items: center;
text-decoration: none;
}
ul.contact-footer-list li {
  list-style: none;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  display: block;
  display: flex;
  font-size: 16px;
  align-items: center;
}
ul.social-list {
margin-top: 20px;
}
p.mgl {
  color: #203A43;
  margin-left: 10px;
  margin-bottom: 0px;
}
ul.contact-footer-list {
margin: 0px;
padding: 0px;
}
.custom-icon {
font-size: 16px;
color: #203A43;
margin-right: 0px;
}
ul.contact-footer-list li a p {
color: #203A43;
margin: 0px;
margin-left: 10px;
}
ul.social-list li {
  list-style: none;
  display: inline-block;
  margin: 0px 5px;
}
.footer-contact p {
  color: #203A43;
  font-size: 20px;
  text-align: left;
  font-weight: 600;
}
.row.footer-row .col-md-6.col-6 {
padding: 0px;
margin: 0px;
}
img.footer-gallery {
width: 100%;
padding: 5px;
transition: .5s all;
transform: scale(1);
}
img.footer-gallery:hover{
transform: scale(1.1);
}
a.slide__text-link.footer-btn {
font-size: 18px;
color: #203A43;
transition: .3s all;
text-decoration: none;
}
a.slide__text-link.footer-btn:hover{
color: #fff;
}
.btn.btn-row {
width: 100%;
}
.foot-icon {
width: 35px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 15px 1px;
border: 2px solid #203a43;
padding: 18px;
}
ul.footer-menu {
list-style: none;
padding: 0px;
margin: 0px;
}
ul.footer-menu li a {
text-decoration: none;
color: #203A43;
font-size: 20px;
}
p.left {
text-align: left;
}
ul.footer-menu li {
margin-bottom: 10px;
display: block;
}
/* copyright */
.copyright {
border-top: 2px solid #203a62;
width: 90%;
margin: 0px auto;
padding-top: 15px;
}
.copyright p {
color: #203A43;
margin: 0px;
font-size: 15px;
text-transform: capitalize;
text-align: center;
}

/* 3D Model */
.map-model {
height: 100vh;
}
.map-model
{
transform-style: preserve-3d;
perspective: 1000;
}

h1, h2, h3, h4, h5, h6, p, a, 
input, label, button, textarea, ul, li, label
{ position:relative; vertical-align:top; display:inline-block; padding:0; margin:0; }


@keyframes rotate {
  0%{
      transform: rotate3d(1,0,0,60deg) rotate3d(0,0,1,20deg);
  }
  40%{
      transform: rotate3d(1,0,0,88deg) rotate3d(0,0,1,120deg);
  }
  70%{
      transform: rotate3d(1,0,0,88deg) rotate3d(0,0,1,260deg);
  }
  90%{
      transform: rotate3d(1,0,0,70deg) rotate3d(0,0,1,260deg);
  }
  100%{
      transform: rotate3d(1,0,0,60deg) rotate3d(0,0,1,380deg);
  }
}

.world
{	
float:left;
zoom:1;
font-size:0;
position:absolute;
left:40%;
top:25%;
width:350px;
height:350px;
transform-style: preserve-3d;
transform: rotate3d(1,0,0,60deg) rotate3d(0,0,1,0deg);

animation: rotate 10s ease-in-out infinite;
}
/* .world:hover
{

} */

.ground
{
font-size:0;
  position:absolute;
display:block;
top:-25%;
left:-25%;
width:150%;
height:150%;
border: 8px dotted #ccc;
overflow:visible;
transform: translate3d(0,0,-1px);
transform-style: preserve-3d;
}

.building
{
font-size:0;
  position:absolute;
display:block;
top:50%;
left:50%;
background:#fc0;
width:50px;
height:50px;
cursor: move;
overflow:visible;
  transition: all 0.5s ease-out;
transform: rotate3d(0,0,1,0deg);
transform-style: preserve-3d;
}
.block-1
{
  top:0;
  left:60%;
  transform: scaleZ(1.5);
}
.block-2
{
  top:0;
  left:30%;
  transform: scaleZ(2.5);
}
.block-3
{
  top:20%;
  left:10%;
  transform: scaleZ(1.2);
}
.block-4
{
  top:20%;
  left:30%;
  transform: scaleZ(1.8);
}
.block-5
{
  top:20%;
  left:50%;
  transform: scaleZ(1.8);
}
.block-6
{
  top:60%;
  left:70%;
  transform: scaleZ(1.8);
}
.block-7
{
  top:60%;
  left:20%;
  transform: scaleZ(1.5);
}
.block-8
{
  top:80%;
  left:60%;
  transform: scaleZ(2.8);
}
.block-9
{
  top:80%;
  left:0;
  transform: scaleZ(2.9);
}
.block-10
{
  top:80%;
  left:40%;
  transform: scaleZ(3.9);
}
.block-11
{
  top:80%;
  left:20%;
  transform: scaleZ(2.9);
}

.building:hover
{
transform: rotate3d(0,0,1,900deg) scale3d(1, 1, 4);
background:#0ae;
}
.building:hover>li
{
  background:#0ae;
  opacity:.5;
}
.building:active
{
transform: translateZ(50px) scale3d(1, 1, 4);
background:#09c;
}
.building:active>li
{
  background:#09c;
  opacity:.75;
}

.building>li
{
font-size:0;
display:inline-block;
  position:absolute;
  background:#fc0;
  transition: all 0.3s ease-out;
}
.building .top {
background: rgb(30, 183, 208);
width: 50px;
height: 50px;
transform: translate3d(0,0,50px);
}
.building .west
{
  background:rgba(242,194,0,1);
width:50px;
height:50px;
transform-origin:0 0;
transform: rotate3d(0,1,0,-90deg);
}
.building .east
{
  background:rgba(217,174,0,1);
width:50px;
height:50px;
transform-origin:100% 0;
transform:rotate3d(0,1,0,90deg);
}
.building .north
{
  background:rgba(242,194,0,1);
width:50px;
height:50px;
transform-origin:0 0;
transform:rotate3d(1,0,0,90deg);
}
.building .south
{
  background:rgba(255,204,0,1);
width:50px;
height:50px;
transform-origin:100% 100%;
transform:rotate3d(1,0,0,-90deg);
}

.road
{
font-size:0;
  position:absolute;
display:block;
top:50%;
left:50%;
background:#ccc;
width:350px;
height:30px;
overflow:visible;
  transition: all 0.5s ease-out;
transform: rotate3d(0,0,1,0deg);
transform-style: preserve-3d;
}
.road-1
{
  top:60%;
  left:40%;
  transform:translateZ(.9px) rotate3d(0,0,1,90deg);
}
.road-2
{
  top:40%;
  left:20%;
  transform: rotate3d(0,0,1,180deg);
}
.road-3
{
  top:100%;
  left:0;
  transform: rotate3d(0,0,1,180deg);
}

.car
{
font-size:0;
  position:absolute;
display:block;
cursor: move;
top:60%;
left:50%;
background:#666;
width:5px;
height:10px;
overflow:visible;
  transition: all 0.5s ease-out;
transform:translateZ(2px) rotate3d(0,0,1,90deg);
transform-style: preserve-3d;
}

.car:hover
{
transform: rotate3d(0,0,1,900deg) scale3d(4, 4, 4);
background:#fff;
}
.car:hover>li
{
  background:red;
  opacity:.5;
}
.car:active
{
transform: translateZ(50px) scale3d(4, 4, 4);
}
.car:active>li
{
  background:#0ae;
}

.car>li
{
font-size:0;
display:inline-block;
  position:absolute;
  background:#fc0;
  transition: all 0.3s ease-out;
}
.car .roof
{
  background:#777;
  width:5px;
  height:10px;
transform: translate3d(0,0,5px);
}
.car .door-left
{
  background:#555;
width:5px;
height:10px;
transform-origin:0 0;
transform: rotate3d(0,1,0,-90deg);
}
.car .door-right
{
  background:#777;
width:5px;
height:10px;
transform-origin:100% 0;
transform:rotate3d(0,1,0,90deg);
}
.car .front
{
  background:#666;
width:5px;
height:5px;
transform-origin:0 0;
transform:rotate3d(1,0,0,90deg);
}
.car .trunk
{
  background:#444;
width:5px;
height:5px;
transform-origin:100% 100%;
transform:translateY(5px) rotate3d(1,0,0,-90deg);
}
.car-1
{
  top:40%;
  left:60%;
}
.car-2
{
  top:40%;
  left:80%;
}
.car-3
{
  top:60%;
  left:95%;
  transform:translateZ(2px) rotate3d(0,0,1,0deg);
}

/* Custom 3D Model */
ul.building.block-1 {
  background: linear-gradient(45deg, #d53369, #cbad6d);
}
ul.building.block-1 li {
background: linear-gradient(45deg, #d53369, #cbad6d);
}
ul.building.block-2 {
  background: linear-gradient(45deg, #7F7FD5, #86A8E7,#91EAE4);
}
ul.building.block-2 li {
background: linear-gradient(45deg, #7F7FD5, #86A8E7,#91EAE4);
}
ul.building.block-3{
  background: linear-gradient(45deg, #11998e, #28ad5b);
}
ul.building.block-3 li{
  background: linear-gradient(45deg, #11998e, #28ad5b);
}
ul.building.block-4 {
  background: linear-gradient(45deg, #c31432, #240b36) !important;
}
ul.building.block-4 li {
background: linear-gradient(45deg, #c31432, #240b36) !important;
}
/* ul.building.block-4 li.top {
background: rgb(30, 183, 208);
} */
ul.building.block-5{
background: linear-gradient(45deg, #283c86, #45a247);
}
ul.building.block-5 li{
background: linear-gradient(45deg, #283c86, #45a247);
}
ul.building.block-6{
background: linear-gradient(45deg, #F0C27B, #4B1248);
}
ul.building.block-6 li{
background: linear-gradient(45deg, #F0C27B, #4B1248);
}
ul.building.block-7{
background: linear-gradient(45deg, #03001e, #7303c0,#ec38bc,#fdeff9);
}
ul.building.block-7 li{
background: linear-gradient(45deg, #03001e, #7303c0,#ec38bc,#fdeff9);
}
ul.building.block-8{
background: linear-gradient(45deg, #000046, #1CB5E0);
}
ul.building.block-8 li{
background: linear-gradient(45deg, #000046, #1CB5E0);
}
ul.building.block-9 {
background: linear-gradient(45deg, #654ea3, #eaafc8);
}
ul.building.block-9 li{
background: linear-gradient(45deg, #654ea3, #eaafc8);
}
ul.building.block-10 {
    background: linear-gradient(45deg, #373B44, #4286f4) !important;
}
ul.building.block-10 li{
  background: linear-gradient(45deg, #373B44, #4286f4) !important;
}
ul.building.block-11{
  background: linear-gradient(45deg, #001510, #00bf8f) !important;
}
ul.building.block-11 li{
  background: linear-gradient(45deg, #001510, #00bf8f) !important;
}
/* road */
p.road.road-1{
background: linear-gradient(#1F1C2C, #928DAB,#1F1C2C) !important;
}
p.road.road-2{
background: linear-gradient(#1F1C2C, #928DAB,#1F1C2C) !important;
}
p.road.road-3{
background: linear-gradient(#1F1C2C, #928DAB,#1F1C2C) !important;
}

.map-title {
  padding-top: 20px;
}
.map-title p {
  font-size: 25px;
  font-family: 'Roboto Regular';
  color: #fff;
  text-align: center;
  display: block;
}
.map-container {
background: linear-gradient(45deg,#0F2027,#203A43,#0F2027);
position: relative;
}
.content-box-map p {
font-size: 16px;
color: #fff;
text-align: center;
display: block;
}
.content-box-map {
width: 400px;
border: 1px solid #fff;
padding: 10px;
position: absolute;
left: 25px;
top: 12%;
transition: .5s all;
z-index: 9;
cursor: pointer;
}
.content-box-map:hover {
border-radius: 50px 0px;
cursor: pointer;
}
/* Animation */

.car .roof {
background: #10ff00;
width: 5px;
height: 20px;
transform: translate3d(0,0,5px);
}
ul.car.car-1 li.door-left{
background: #10ff00;
width: 5px;
height: 20px;
}
ul.car.car-1 li.front{
background: #10ff00;
width: 5px;
height: 20px;
}
ul.car.car-1 li.door-right,ul.car.car-1 li.trunk{
background: #10ff00;
width: 5px;
height: 20px;
}
/* form-query now */
.quick-form.sticky-show {
right: 0px;
transition: all 1s;
}
.quick-form {
visibility: visible;
position: fixed;
bottom: 0;
z-index: 999999999;
width: 355px;
right: 40px;
top: 60%;
right: -355px;
transform: translate(0,-50%);
background-color: #fff;
padding: 20px 60px 20px 20px;
box-shadow: 0 0 12px #eee;
transition: all 1s;
}
.quick-form {
height: fit-content !important;
height: auto;
}
.formget-header-title_left {
background-color: #47b4ce;
color: #fff;
right: 304px;
padding: 7px 10px;
position: fixed;
top: 35%;
transform: rotate(90deg);
-webkit-transform: rotate(90deg);
z-index: 120;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
width: 141px;
cursor: pointer;
font-family: 'Rubik Medium';
font-weight: normal !important;
text-transform: uppercase;
text-align: center;
}
.formget-header-title_left a {
color: #fff !important;
font-size: 18px;
text-decoration: none;
}
#query-now {
height: auto;
}
div#quick-form {
width: 355px;
padding: 10px;
background: linear-gradient(45deg, #00b4db87, #0083b0a1);
box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px 0px;
border-radius: 0px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\Mobile banner\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* Banner CSS */
/* ==== Main CSS === */
.img-fill{
width: 100%;
display: block;
overflow: hidden;
position: relative;
text-align: center
}

.img-fill img {
min-height: 100%;
min-width: 100%;
position: relative;
display: inline-block;
max-width: none;
}

*,
*:before,
*:after {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.Grid1k {
padding: 0 15px;
max-width: 1200px;
margin: auto;
}

.blocks-box,
.slick-slider {
margin: 0;
padding: 0!important;
}

.slick-slide {
float: left /* If RTL Make This Right */ ;
padding: 0;
}

/* ==== Slider Style === */
.info div h3, .info div h5{
font-family: 'Roboto Regular';
}
.Modern-Slider .item .img-fill{
height:100vh;
background:#000;
}
.Modern-Slider .item.slick-active h5{
font-family: 'Roboto Regular' !important;
}
.Modern-Slider .item .img-fill .info{
position:absolute;
width:100%;
height:100%;
top:0px;
left:0px;
/* background:rgba(0,0,0,.50); */
line-height:100vh;
text-align:center;
}

.img-fill img {
width: 100%;
}

.Modern-Slider .item .info > div {
display: inline-block!important;
vertical-align: middle;
position: absolute;
width: 100%;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

.Modern-Slider .NextArrow{
position:absolute;
top:50%;
right:10px;
width:45px;
height:45px;
background:rgba(0,0,0,.50);
border:0 none;
margin-top:-22.5px;
text-align:center;
font:20px/45px FontAwesome;
color:#FFF;
z-index:5;
}

.Modern-Slider .NextArrow:before{content:'\f105';}

.Modern-Slider .PrevArrow{
position:absolute;
top:50%;
left:10px;
width:45px;
height:45px;
background:rgba(0,0,0,.50);
border:0 none;
margin-top:-22.5px;
text-align:center;
font:20px/45px FontAwesome;
color:#FFF;
z-index:5;
}

.Modern-Slider .PrevArrow:before{content:'\f104';}

.Modern-Slider .slick-dots{
position:absolute;
height:5px;
background:rgba(255,255,255,.20);
bottom:0px;
width:100%;
left:0px;
padding:0px;
margin:0px;
list-style-type:none;
}
.Modern-Slider .slick-dots li button{display:none;}
.Modern-Slider .slick-dots li{
float:left;
width:0px;
height:5px;
background:#ff0000e0;
position:absolute;
left:0px;
bottom:0px;
}

.Modern-Slider .slick-dots li.slick-active{
width:100%;
animation:ProgressDots 11s both;
}

.Modern-Slider .item h3{
font:30px/50px RalewayB;
text-transform:uppercase;
color:#FFF;
animation:fadeOutRight 1s both;
margin:0;
padding:0;
}

.Modern-Slider .item h5{
margin:20px auto;
padding:0;
font:16px/32px RalewayR;
color:#FFF;
max-width:600px;
overflow:hidden;
height:60px;
animation:fadeOutLeft 1s both;
}

.Modern-Slider .item.slick-active h3{
animation:fadeInDown 1s both 1s;
}

.Modern-Slider .item.slick-active h5{
animation:fadeInLeft 1s both 1.5s;
}

.Modern-Slider .item.slick-active{
animation:Slick-FastSwipeIn 1s both;
}

.Modern-Slider {background:#000;}

/* ==== Slider Image Transition === */
@keyframes Slick-FastSwipeIn{
  0%{transform:rotate3d(0,1,0,150deg) scale(0)  perspective(400px);} 
  100%{transform:rotate3d(0,1,0,0deg) scale(1) perspective(400px);} 
}

@-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
@keyframes ProgressDots{from{width:0px;}to{width:100%;}}

/* ==== Slick Slider Css Ruls === */
.slick-slider{position:relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}.slick-list.dragging{cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left /* If RTL Make This Right */ ;height:100%;min-height:1px}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}



@media (min-width: 992px){
.dropdown-menu .dropdown-toggle:after{
  border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
}
.dropdown-menu .dropdown-menu{
  margin-left:0; margin-right: 0;
}
.dropdown-menu li{
  position: relative;
}
.nav-item .submenu{ 
  display: none;
  position: absolute;
  left:100%; top:-7px;
}
.nav-item .submenu-left{ 
  right:100%; left:auto;
}
.dropdown-menu > li:hover{ background-color: #f1f1f1 }
.dropdown-menu > li:hover > .submenu{
  display: block;
}
}
ul.submenu.dropdown-menu {
padding: 0px;
margin: 0px !important;
top: 0px !important;
}
.col-lg-7.pt-5.pt-lg-0.order-2.order-lg-1.align-items-center.coming-soon.relative {
align-items: start !important;
margin-top: 7% !important;
}