section.about.padding-zero {
    padding: 0px;
}
section.about.padding-zero .container-fluid .row {
    align-items: flex-start;
}
.center-text {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
h3.project-features {
    font-size: 28px;
    font-weight: 700;
    color: #010483;
    margin-bottom: 15px;
}
/* btn glow */
.case-study-btn {
    animation: glowing 1300ms infinite;
}
.case-study-btn {
    position: fixed;
    left: 0px;
    padding: 7px 8px;
    transform: translateY(-50%);
    top: 50%;
    z-index: 999999;
    text-align: center;
}
.case-study-btn a {
    animation: glowing 1300ms infinite;
}
.case-study-btn a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff !important;
    background: #c1204c;
    position: relative;
    padding-bottom: 0px;
}
.case-study-btn::after {
    height: 0;
    width: 0;
    bottom: -28px;
    border-top: 17px solid #c1204c;
    border-bottom: 19px solid #c1204c;
    border-right: 20px solid transparent;
    content: "";
    position: absolute;
    left: 0px;
    transform: rotate(90deg);
}
a.case-btn {
    color: #fff !important;
    position: fixed;
    z-index: 999999;
    text-align: center;
}

@keyframes glowing {
    0% { background-color: #c1204c; box-shadow: 0 0 5px #c1204c;}
    50% { background-color: #c1204c; box-shadow: 0 0 20px #c1204c; }
    100% { background-color: #c1204c; box-shadow: 0 0 5px #c1204c; }
    }
    .modal-body .case-study-btn{
    animation: glowing 1300ms infinite;
    }
    .modal-body .case-study-btn a{
        animation: glowing 1300ms infinite;
        }

section.specification.padding-zero {
    padding: 0px;
}
.specification .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
}
.specification .icon-box .title a:hover {
    color: #1acc8d;
  }
  
.specification .icon-box .icon i {
    color: #1acc8d;
    font-size: 32px;
}
.specification .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 2px solid #7ceec6;
    border-radius: 50px;
    transition: 0.5s;
}
.specification .icon-box:hover .icon {
    background: #1acc8d;
    border-color: #1acc8d;
}
  .specification .icon-box:hover .icon i {
    color: #fff;
  }
  /* .specification .icon-box .title {
    margin-left: 44px;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 18px;
} */
.specification .icon-box .title {
    /* margin-left: 20px; */
    font-weight: 700;
    margin-bottom: 0;
    font-size: 18px;
}
.specification .icon-box {
    margin-top: 20px;
    display: block;
    align-items: inherit;
}

section.specification.padding-zero ul {
    margin-left: 45px;
}
section.specification.padding-zero ul li {
    display: block;
}
section.specification.padding-zero p.description {
    margin-left: 55px;
    display: block !important;
    margin-bottom: 10px;
}
.specification .icon {
    margin-right: 20px !important;
}
a.btn-get-started.scrollto {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
}
.text-center.text-lg-center.center-btn {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
/* assotech business cresstera */

img.assotech-img {
    width: 100%;
}